In [2]:
import pandas

In [50]:
people_df = pandas.read_csv('people.csv', header=0) #index_col=0)

In [51]:
people_df

,person name or identifier,event,career stage,self-defined field,research_group,operating system,programming_languages,general_datasci_tools,discipline_datasci_tools,support_tools
0,Rita Busuttil,Melbourne 2015,postdoc,cancer genomics,oncology and carcinogenesis,NaN,NaN,GraphPad Prism,"Partek, IGV, ImageJ","Word, Dropbox, PowerPoint"
1,Kate Giljohann,Melbourne 2015,phd,ecology,ecology,windows,R,"Microsoft Excel, ArcGIS",NaN,"RStudio, Word, Dropbox, PowerPoint, Scribus, M..."
2,Michael Strack,Melbourne 2015,phd,microbial ecology,ecology,windows,R,Microsoft Excel,GeneMapper,"Word, OneDrive, PowerPoint, Prezi, Mendeley, G..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(people_df['person name or identifier'])

0     Rita Busuttil
1    Kate Giljohann
2    Michael Strack
3               NaN
Name: person name or identifier, dtype: object

In [6]:
print(people_df['general_datasci_tools'])

0             GraphPad Prism
1    Microsoft Excel, ArcGIS
2            Microsoft Excel
3                        NaN
Name: general_datasci_tools, dtype: object

In [8]:
people_df['support_tools'][0].split(',')

['Word', ' Dropbox', ' PowerPoint']

In [38]:
res_groups_df = pandas.read_csv('anzsrc_research_groups.csv', header=0)

In [39]:
res_groups_df

,research_group,research_division,people
0,pure mathematics,mathematical sciences,NaN
1,applied mathematics,mathematical sciences,NaN
2,numerical and computational mathematics,mathematical sciences,NaN
3,statistics,mathematical sciences,NaN
4,mathematical physics,mathematical sciences,NaN
5,other mathematical sciences,mathematical sciences,NaN
6,astronomical and space sciences,physical sciences,NaN
7,"atomic, molecular, nuclear, particle and plasm...",physical sciences,NaN
8,classical physics,physical sciences,NaN
9,condensed matter physics,physical sciences,NaN
10,optical physics,physical sciences,NaN
11,quantum physics,physical sciences,NaN
12,other physical sciences,chemical sciences,NaN
13,analytical chemisty,chemical sciences,NaN
14,inorganic chemistry,chemical sciences,NaN
15,macromolecular chemisty,chemical sciences,NaN
16,medicinal and biomolecular chemistry,chemical sciences,NaN
17,organic chemistry,chemical sciences,NaN
18,physical chemistry (incl. structural),chemical sciences,NaN
19,theoretical and computational chemistry,chemical sciences,NaN
20,other chemical sciecnes,chemical sciences,NaN
21,atmospheric sciences,earth sciences,NaN
22,geochemistry,earth sciences,NaN
23,geology,earth sciences,NaN
24,geophysics,earth sciences,NaN
25,oceanography,earth sciences,NaN
26,physical geography and environmental geoscience,earth sciences,NaN
27,other earth sciences,earth sciences,NaN
28,ecological applications,environmental sciences,NaN
29,environmental science and management,environmental sciences,NaN
...,...,...,...
127,social work,studies in human society,NaN
128,sociology,studies in human society,NaN
129,other studies in human society,studies in human society,NaN
130,psychology,psychology and cognitive sciences,NaN
131,cognitive sciences,psychology and cognitive sciences,NaN
132,other psychology and cognitive sciences,psychology and cognitive sciences,NaN
133,law,law and legal studies,NaN
134,other law and legal studies,law and legal studies,NaN
135,art theory and criticism,studies in creative arts and writing,NaN
136,"film, television and digital media",studies in creative arts and writing,NaN
137,journalism and professional writing,studies in creative arts and writing,NaN
138,performing arts and creative writing,studies in creative arts and writing,NaN
139,visual arts and crafts,studies in creative arts and writing,NaN
140,other studies in creative arts and writing,studies in creative arts and writing,NaN
141,communication and media studies,"language, communication and culture",NaN
142,cultural studies,"language, communication and culture",NaN
143,language studies,"language, communication and culture",NaN
144,linguistics,"language, communication and culture",NaN
145,literary studies,"language, communication and culture",NaN
146,"other language, communication and culture","language, communication and culture",NaN
147,archaeology,history and archaeology,NaN
148,curatorial and related studies,history and archaeology,NaN
149,historical studies,history and archaeology,NaN
150,other history and archaeology,history and archaeology,NaN
151,applied ethics,philosophy and religious studies,NaN
152,history and philosophy of specific fields,philosophy and religious studies,NaN
153,philosophy,philosophy and religious studies,NaN
154,religion and religious studies,philosophy and religious studies,NaN
155,other philosophy and religious studies,philosophy and religious studies,NaN
156,NaN,NaN,NaN

In [52]:
small_res_groups_df = res_groups_df[['research_group','research_division']].set_index('research_group')
combo = people_df.join(small_res_groups_df, on=['research_group'])

In [53]:
combo

,person name or identifier,event,career stage,self-defined field,research_group,operating system,programming_languages,general_datasci_tools,discipline_datasci_tools,support_tools,research_division
0,Rita Busuttil,Melbourne 2015,postdoc,cancer genomics,oncology and carcinogenesis,NaN,NaN,GraphPad Prism,"Partek, IGV, ImageJ","Word, Dropbox, PowerPoint",medical and health sciences
1,Kate Giljohann,Melbourne 2015,phd,ecology,ecology,windows,R,"Microsoft Excel, ArcGIS",NaN,"RStudio, Word, Dropbox, PowerPoint, Scribus, M...",biological sciences
2,Michael Strack,Melbourne 2015,phd,microbial ecology,ecology,windows,R,Microsoft Excel,GeneMapper,"Word, OneDrive, PowerPoint, Prezi, Mendeley, G...",biological sciences
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
row = combo.iloc[1].copy()

In [67]:
tools_list = row['support_tools'].split(',')

In [68]:
row

person name or identifier                                       Kate Giljohann
event                                                           Melbourne 2015
career stage                                                               phd
self-defined field                                                     ecology
research_group                                                           hello
operating system                                                       windows
programming_languages                                                        R
general_datasci_tools                                  Microsoft Excel, ArcGIS
discipline_datasci_tools                                                   NaN
support_tools                RStudio, Word, Dropbox, PowerPoint, Scribus, M...
research_division                                          biological sciences
Name: 1, dtype: object

In [73]:
row[['person name or identifier', 'research_group', 'research_division', 'support_tools']]

person name or identifier                                       Kate Giljohann
research_group                                                         goodbye
research_division                                          biological sciences
support_tools                RStudio, Word, Dropbox, PowerPoint, Scribus, M...
Name: 1, dtype: object

In [78]:
test = pandas.DataFrame()

In [79]:
new_row = row[['person name or identifier', 'research_group', 'research_division', 'support_tools']].copy()

In [80]:
new_row['support_tools'] = 'yahoo'

In [83]:
test = test.append(new_row)

In [84]:
test

  person name or identifier    research_division research_group support_tools
1            Kate Giljohann  biological sciences        goodbye         yahoo

In [85]:
test = test.append(new_row)

In [86]:
test

  person name or identifier    research_division research_group support_tools
1            Kate Giljohann  biological sciences        goodbye         yahoo
1            Kate Giljohann  biological sciences        goodbye         yahoo

In [94]:
pandas.notnull(row['general_datasci_tools'])

True

In [91]:
row['discipline_datasci_tools']

nan