In [1]:
import pandas

In [5]:
def count_people(df):
    """Count the number of people listed in the people column."""
    
    for index, row in df.iterrows():
        if pandas.notnull(row['people']):
            npeople = len(row['people'].split(','))
            row['people'] = npeople
        else:
            row['people'] = 0
    
    return df

## Demographics

### Field of research

In [10]:
research_field_df = pandas.read_csv('../data/anzsrc_research_groups.csv', header=0, encoding='utf-8-sig')
research_field_df = count_people(research_field_df)

In [15]:
research_divisions = research_field_df.groupby('research_division')

In [20]:
research_divisions.sum()['people']

research_division
agricultural and veterinary sciences          0
biological sciences                           2
built environment and design                  0
chemical sciences                             0
commerce, management, tourism and services    0
earth sciences                                0
economics                                     0
education                                     0
engineering                                   0
environmental sciences                        0
history and archaeology                       0
information and computing sciences            0
language, communication and culture           0
law and legal studies                         0
mathematical sciences                         0
medical and health sciences                   2
philosophy and religious studies              0
physical sciences                             0
psychology and cognitive sciences             0
studies in creative arts and writing          0
studies in human society                      0
technology                                    0
Name: people, dtype: int64

In [21]:
research_divisions.get_group('biological sciences')

                   research_group    research_division people
32  biochemistry and cell biology  biological sciences      0
33                        ecology  biological sciences      2
34           evolutionary biology  biological sciences      0
35                       genetics  biological sciences      0
36                   microbiology  biological sciences      0
37                     physiology  biological sciences      0
38                  plant biology  biological sciences      0
39                        zoology  biological sciences      0
40      other biological sciences  biological sciences      0

In [22]:
research_divisions.get_group('medical and health sciences')

,research_group,research_division,people
81,medical biochemistry and metabolomics,medical and health sciences,0
82,cardiorespiratory medicine and haematology,medical and health sciences,0
83,clinical sciences,medical and health sciences,0
84,complementary and alternative medicine,medical and health sciences,0
85,denistry,medical and health sciences,0
86,human movement and sports science,medical and health sciences,0
87,immunology,medical and health sciences,0
88,medical microbiology,medical and health sciences,0
89,neurosciences,medical and health sciences,1
90,nursing,medical and health sciences,0
91,nutrition and dietetics,medical and health sciences,0
92,oncology and carcinogenesis,medical and health sciences,1
93,ophthalmology and optometry,medical and health sciences,0
94,paediatrics and reproductive medicine,medical and health sciences,0
95,pharmacology and pharmaceutical sciences,medical and health sciences,0
96,medical physiology,medical and health sciences,0
97,public health and health services,medical and health sciences,0
98,other medical and health sciences,medical and health sciences,0